{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Add New Student {% endblock %}

{% block body %}  
  <div class="container">
    <form method="POST" action='/create' >
      <table class="table">
        <tr>
          <td>First Name</td>
          <td><input type="text" name="first_name" class="form-control"></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><input type="text" name="last_name" class="form-control"></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email" name="email" class="form-control"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" class="form-control"></td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>
            <input type="radio" name="gender" value="female"> Female&nbsp;
            <input type="radio" name="gender" value="male"> Male
          </td>
        </tr>
        <tr>
          <td>Course Name</td>
          <td>
            <input type="checkbox" name="course_name" value="Database Design"> Database Design &nbsp;
            <input type="checkbox" name="course_name" value="Full Stack Development"> Full Stack Development &nbsp;
            <input type="checkbox" name="course_name" value="Data Science"> Data Science &nbsp;
            <input type="checkbox" name="course_name" value="Artificial Intelligence"> Artificial Intelligence
          </td>
        </tr>
        <tr>
          <td>Country</td>
          <td>
            <select name="country" class="form-control">
              <option value="India">India</option>
              <option value="Australia">Australia</option>
              <option value="USA">USA</option>
              <option value="UK">UK</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Sri Lanka">Sri Lanka</option>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="submit" value="submit" class="btn btn-warning">
          </td>
        </tr>
      </table>
        
    </form>
  </div>

{% endblock %}